#exportar{
    width: 97%;
}
.parrafo_superior{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    /*font-size: 3.5rem;*/
    font-size:  7vw;
    font-weight: 900;
    line-height: 1em; 
    text-shadow:
    3px 4px 0 #000,
  -4px -2px 0 #000,  
   1px -2px 0 #000,
   -3px 5px 0 #000,
    2px 5px 0 #000;
    text-transform: uppercase;
    overflow: hidden;    
    padding: 15px;
    width: 97%;
}

.ocultar{
    display: none;
}


@media only screen and (max-width: 426px) {
    .parrafo_superior {
        text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
      
    }
  }
